* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0;
	background-color: unset;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	-webkit-tap-highlight-color: #0000;
	outline: none;
}

body, html {
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
}

:root {
/*	COLORS			*/
	--col-primary: #fff;
	--col-primary-darker: #eee;
	--col-primary-dark: #888;
	--col-affirmative: rgb(86, 165, 255);
	--col-negative: #888;
/*	3D				*/
	--shadow-size: 4px;
/*	SCROLLING		*/
	--scroll-speed: .08s;
	--scroll-bar-thickness: 17px;
	--scroll-bar-color: #e1e1e1;
	--scroll-thumb-color: #c1c1c1;
	--scroll-thumb-hover-color: #b1b1b1;
	--scroll-bar-padding: 2px;
}

x-background {
	display: grid;
	background-color: var(--col-primary-darker);
	width: 100%;
	height: 100%;
	padding: 10px;
	grid-row-gap: 7.5px;
}

x-background > * {
	-webkit-box-shadow: 0px 0px var(--shadow-size) 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px var(--shadow-size) 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px var(--shadow-size) 0px rgba(0,0,0,0.5);
}

x-box {
	display: inline-block;
	background-color: var(--col-primary);
	width: 100%;
	min-height: 50px;
	border-radius: 10px;
	padding: 10px;
}

h1, h2, h3, h4, h5 {font-weight: normal}
h1 { font-size: 32px; }
h2 { font-size: 29.2px; }
h3 { font-size: 26.4px; }
h4 { font-size: 23.6px; }
h5 { font-size: 20.8px; }
h6 { font-size: 18px; }

.scroll {
	overflow: auto;
}

x-scroll {
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
}

x-scroll[data-scroll-x="true"] {
	padding-bottom: var(--scroll-bar-thickness);
}

x-scroll:not([data-scroll-y="false"]) {
	padding-right: var(--scroll-bar-thickness);
}

x-scroll > :first-child {
	transition: transform var(--scroll-speed);
	transition-timing-function: linear;
}

x--scroll-bar {
	display: inline-block;
	background-color: var(--scroll-bar-color);
	position: absolute;
}

x--scroll-bar[data-dir="x"] {
	height: var(--scroll-bar-thickness);
	left: 0;
	bottom: 0;
	width: 100%;
}

x-scroll:not([data-scroll-y="false"]) > x--scroll-bar[data-dir="x"] {
	width: calc(100% - var(--scroll-bar-thickness));
}

x--scroll-bar[data-dir="y"] {
	width: var(--scroll-bar-thickness);
	right: 0;
	top: 0;
	height: 100%;
}

x--scroll-thumb {
	display: inline-block;
	background-color: var(--scroll-thumb-color);
	position: absolute;
	transition: transform var(--scroll-speed);
	transition-timing-function: linear;
}

x--scroll-thumb:hover, x--scroll-thumb:active {
	background-color: var(--scroll-thumb-hover-color);
}

x--scroll-bar[data-dir="x"] > x--scroll-thumb {
	min-width: 5px;
	height: calc(var(--scroll-bar-thickness) - calc(2 * var(--scroll-bar-padding)));
	top: var(--scroll-bar-padding);
	left: 0;
}

x--scroll-bar[data-dir="y"] > x--scroll-thumb {
	min-height: 5px;
	width: calc(var(--scroll-bar-thickness) - calc(2 * var(--scroll-bar-padding)));
	top: 0;
	left: var(--scroll-bar-padding);
}

input[type=date], input[type=datetime-local], input[type=email],
input[type=file], input[type=month], input[type=number], input[type=password],
input[type=search], input[type=tel], input[type=text], input[type=time],
input[type=url], input[type=week] {
	background-color: var(--col-primary);
	border-bottom: 2px solid var(--col-primary-darker);
	width: 195px;
	height: 26px;
}

input[type=date]:focus, input[type=datetime-local]:focus, input[type=email]:focus,
input[type=file]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus,
input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus,
input[type=url]:focus, input[type=week]:focus {
	border-bottom-color: var(--col-affirmative);
}